
.game-info-card {
  background-color: #2c2b39;
  color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  font-family: "Arial", sans-serif;
  margin: 20px auto;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  display: flex;
  gap: 50px;
  align-items: center;
}

.champion-icon {
  max-width: 86px;
  max-height: 86px;
  border-radius: 8px;
  margin-right: 12px;
}

.end-score {
  min-width: 150px;
  align-self: center;
}

.game-mode {
  font-size: 30px;
  font-weight: 700;
  color: #6adfa5;
}

.teams {
  display: flex;
  gap: 10px
}

.team-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.participant-info-left {
  display: flex;
  margin-top: 5px;
}

.compact-player-info-left {
  min-width: 120px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: right;
}

.compact-player-info-left-player {
  min-width: 120px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: right;
  color: #ffed5e;
  font-weight: 700;
}

.participant-info {
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}

.compact-player-info {
  min-width: 120px;
  margin-bottom: 5px;
  font-size: 12px;
  justify-content: center;
}

.participant-icon {
  max-width: 20px;
  max-height: 20px;
  border-radius: 8px;
  margin-right: 12px;
  margin-left: 12px;
}

.kda {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: 250px;
  justify-content: space-between;
}

.open-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #ffffff;
  font-size: 30px;
  font-weight: 1000;
  margin-left: -10px;
}

.win {
  font-size: 36px;
  font-weight: 600;
  color: gold;
}

.defeat {
  font-size: 36px;
  font-weight: 600;
  color: dimgray;
}

.kills {
  font-size: 36px;
  font-weight: 600;
  color: #76ff76;
}

.deaths {
  font-size: 36px;
  font-weight: 600;
  color: #ec4646;
}

.assists {
  font-size: 36px;
  font-weight: 600;
  color: #d5ffff;
}

.game-duration {
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 300;
}

.splitter {
  font-size: 24px;
  font-weight: 700;
}

.teammates-table {
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(12, 24, 100, 0.1);
  border: 1px;
  border-radius: 30px;

}

.enemies-table {
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(100, 24, 12, 0.1);
  border: 1px;
  border-radius: 30px;

}

.enemies-table th {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.enemies-table td {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.teammates-table th {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.teammates-table td {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.enemies-table table-data-player-info {
  justify-content: center;
}

.champ-header {
  max-width: 50px;
}

.table-data-image {
  max-width: 50px;
  margin-left: 30px;
}

.all-players-data {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.data-team-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.data-champion-icon {
  max-width: 40px;
  max-height: 40px;
  border-radius: 8px;
  margin-right: 12px;
}

.data-player-info {
  min-height: 40px;
  min-width: 150px;
  justify-content: center;
  text-align: center;
}

.data-player-info-player {
  min-width: 150px;
  min-height: 40px;
  color: #ffed5e;
  font-weight: 700;
}

.data-kda {
  min-height: 46px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.data-cs {
  min-width: 50px;
  margin-left: 10px;
}

.data-gold {
  min-width: 50px;
}

.data-vision-score {
  min-width: 50px;
}

.data-items {
  min-width: 105px;
  max-width: 105px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 30px;
}

.data-item-slot {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}
