<form class="account-form" [formGroup]="form">
  <div class="form-row">
    <mat-form-field class="full-width">
      <mat-label>In-game name</mat-label>
      <input type="inGameName" matInput [formControl]="form.controls.inGameName"
             [errorStateMatcher]="matcher"
             placeholder="Hoid">
      @if (form.controls.inGameName.hasError('required')) {
        <mat-error>In-game name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Tag</mat-label>
      <input type="tag" matInput [formControl]="form.controls.tag" [errorStateMatcher]="matcher"
             placeholder="Chull">
      @if (form.controls.tag.hasError('required')) {
        <mat-error>Tag is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="div-button">
    <button mat-fab extended (click)="getAccount()">
      Search
    </button>
  </div>
</form>

@if (accountService.loadedAccount()) {
  <div>
    <app-summoner [account]="accountService.loadedAccount()"/>
  </div>
}
