.account-form {
  min-width: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: white;
  text-align: center;
}

.full-width {
  width: 100%;
  flex: 1
}


.div {
  margin: 50px;
}


.mat-label {
  text-align: center;
}


.div-button {
  margin-top: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
